.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: rgb(42, 131, 167);
  height: 180px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(153, 192, 201);
}

.App-intro {
  font-size: large;
}
